@font-face {
  font-family: 'royalregular';
  src: url('fonts/royal-webfont.woff2') format('woff2'), url('fonts/royal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#instafeed {
  margin-top: 40px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  letter-spacing: 1px;
}

html {
  height: 100%;
}

body {
  font-family: 'royalregular';
  background: #fcfcfc;
  color: black;
}

.heading {
  font-size: 2rem;
  padding: 40px 0 20px 0;
  letter-spacing: 2px;
}

.logo {
  width: 100%;
  max-width: 440px;
}

.content {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.widgets {
  display: flex;
  align-items: center;
}

.widget img {
  max-width: 40px;
}

.widget {
  margin: 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

form fieldset {
  margin-bottom: 20px;
}

form label {
  display: flex;
  margin-bottom: 10px;
}

footer {
  font-family: monospace;
  margin-top: 40px;
}

input, textarea {
  padding: 10px;
  min-width: 260px;
  background: #D64022;
  border-radius: 10px;
  color: #fff;
}

input:focus, textarea:focus {
  outline: 4px solid black;
  border-radius: 0;
}

form button {
  padding: 10px;
  text-transform: uppercase;
  background: transparent;
  font-family: inherit;
  cursor: pointer;
  border: 1px solid black;
  width: fit-content;
  display: flex;
  align-self: center;
}

form button:focus, form button:hover {
  outline: 0;
  color: white;
  border-color: #D64022;
  background: #D64022;
}

@media(max-width: 740px) {
  .logo {
    max-width: 300px;
  }
}