@font-face {
  font-family: 'royalregular';
  src: url('fonts/royal-webfont.woff2') format('woff2'), url('fonts/royal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  height: 100%;
}

body {
  font-family: 'royalregular';
  background: white;
  overflow: hidden !important;
  color: black;
  height: 100%;
}

.msg {
  font-size: 3em;
  padding: 25px 0 15px 0;
  letter-spacing: 2px;
}

.logo {
  width: 100%;
  max-width: 400px;
  position: relative;
  left: 7px;
}

.content {
  padding: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.content > .box:last-child {
  margin-top: 15%;
}

.content .box .widget img {
  max-width: 40px;
}

.content .box .widget {
  margin: 15px;
}

footer {
  font-size: .8em;
  font-family: monospace;
}

@media(max-width: 740px) {
  .msg {
    font-size: 2em;
  }
  .logo {
    max-width: 300px;
  }
}